body
{
background-image: url('/images/tausta.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
}

#page
{
	margin: 0 auto;
	width: 1000px;
	background: #fff;
}

#header
{
	background: green;
	padding: 20px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 1000px;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#content
{
	float: left;
	width: 1000px;
	background: #fff;
}

#leftside
{
	float: left;
	width: 160px;
	padding: 20px 0;
	margin: 0 20px;
	display: inline;
}


#blog
{
	float: left;
	width: 500px;
	padding: 20px 0;
	margin: 0 0 0 30px;
}



#rightside
{
	background: #ccc;
	float: right;
	width: 200px;
	padding: 20px 0;
	margin: 0 0px 0 0;
	display: inline;
}


.calendar-indent
{
    margin: 0 10px;
}

.blog-entry
{
    cursor: hand; 
    cursor: pointer;
}

#calendar h2
{
margin: 0px; border: 1px solid red;
}

#topics h2
{
margin: 0px; border: 1px solid red;
}

#footer
{
	clear: left;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}